.mp-tree-container {
    position: relative;
}

.mp-tree-label * {
    display: inline;
}
.mp-tree-label {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    border-style: solid;
    border-width: 1px;
    height: 17px;
    left: 0;
    padding: 1px 4px;
    position: absolute;
    top: 0;
    width: 270px;

    z-index: 1;
    overflow: hidden;

}

.mp-tree-selector {
    background: none repeat scroll 0 0 #6F8992;
    color: #EBEBEB;
    font-weight: bold;

    height: 19px;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 278px;
    z-index: 2;

    opacity: 0.9;

    cursor: pointer;


}

.mp-tree-content {
    display: none;
}


