<?xml version="1.0"?>
<config>
    <modules>
        <Magpleasure_Info>
            <version>1.0.3</version>
        </Magpleasure_Info>
    </modules>
    <frontend>
        <routers>
            <info>
                <use>standard</use>
                <args>
                    <module>Magpleasure_Info</module>
                    <frontName>info</frontName>
                </args>
            </info>
        </routers>
        <layout>
            <updates>
                <mpinfo>
                    <file>mpinfo.xml</file>
                </mpinfo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mpinfo_admin>
				<use>admin</use>
				<args>
					<module>Magpleasure_Info</module>
					<frontName>mpinfo_admin</frontName>
				</args>
			</mpinfo_admin>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mpinfo>
                                            <title>Magpleasure - Info Dashboard</title>
                                            <sort_order>100000</sort_order>
                                        </mpinfo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mpinfo>
                    <file>mpinfo.xml</file>
                </mpinfo>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mpinfo_predispatch>
                        <type>singleton</type>
                        <class>mpinfo/observer</class>
                        <method>predispatchPage</method>
                    </mpinfo_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>   
    <global>
        <models>
            <mpinfo>
                <class>Magpleasure_Info_Model</class>
                <resourceModel>mpinfo_mysql4</resourceModel>
            </mpinfo>
            <mpinfo_mysql4>
                <class>Magpleasure_Info_Model_Mysql4</class>
            </mpinfo_mysql4>
        </models>
        <resources>
            <mpinfo_setup>
                <setup>
                    <module>Magpleasure_Info</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mpinfo_setup>
            <mpinfo_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </mpinfo_setup>
            <mpinfo_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </mpinfo_setup>
        </resources>
        <blocks>
            <mpinfo>
                <class>Magpleasure_Info_Block</class>
            </mpinfo>
        </blocks>
        <helpers>
            <mpinfo>
                <class>Magpleasure_Info_Helper</class>
            </mpinfo>
        </helpers>
    </global>
    <default>
        <mpinfo>
            <url>
                <timeout>2592000</timeout>
            </url>
            <feed>
                <timeout>86400</timeout>
            </feed>
            <check>
                <timeout>3600</timeout>
            </check>
            <track>
                <timeout>86400</timeout>
            </track>
        </mpinfo>
    </default>
</config>