<?xml version="1.0"?>
<config>
    <modules>
        <Magpleasure_Common>
            <version>0.8.5</version>
        </Magpleasure_Common>
    </modules>
    <frontend>
        <layout>
            <updates>
                <magpleasure>
                    <file>magpleasure.xml</file>
                </magpleasure>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magpleasure_Common>
                    <files>
                        <default>Magpleasure_Common.csv</default>
                    </files>
                </Magpleasure_Common>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<magpleasure_admin>
				<use>admin</use>
				<args>
					<module>Magpleasure_Common</module>
					<frontName>magpleasure_admin</frontName>
				</args>
			</magpleasure_admin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<magpleasure>
					<file>magpleasure.xml</file>
				</magpleasure>
			</updates>
		</layout>
        <translate>
            <modules>
                <Magpleasure_Common>
                    <files>
                        <default>Magpleasure_Common.csv</default>
                    </files>
                </Magpleasure_Common>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <magpleasure>
                <class>Magpleasure_Common_Model</class>
                <resourceModel>magpleasure_resource</resourceModel>
            </magpleasure>
            <magpleasure_mysql4>
                <class>Magpleasure_Common_Model_Resource</class>
            </magpleasure_mysql4>
        </models>
        <resources>
            <magpleasure_setup>
                <setup>
                    <module>Magpleasure_Common</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magpleasure_setup>
            <magpleasure_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magpleasure_write>
            <magpleasure_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magpleasure_read>
        </resources>
        <blocks>
            <magpleasure>
                <class>Magpleasure_Common_Block</class>
            </magpleasure>
        </blocks>
        <helpers>
            <magpleasure>
                <class>Magpleasure_Common_Helper</class>
            </magpleasure>
        </helpers>
        <events>
            <model_delete_before>
                <observers>
                    <magpleasure_model_delete_before>
                        <type>singleton</type>
                        <class>magpleasure/observer_model</class>
                        <method>coreModelDelete</method>
                    </magpleasure_model_delete_before>
                </observers>
            </model_delete_before>
            <controller_action_layout_load_before>
                <observers>
                    <magpleasure_layout_load_before>
                        <type>singleton</type>
                        <class>magpleasure/observer_layout</class>
                        <method>layoutLoadBefore</method>
                    </magpleasure_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <cache>
            <types>
                <magpleasure translate="label,description" module="core">
                    <label>Magpleasure Extensions Data</label>
                    <description>MagPleasure Extensions Data Cache.</description>
                    <tags>MAGPLEASURE_DATA</tags>
                </magpleasure>
            </types>
        </cache>
    </global>
    <default>
        <magpleasure>
            <thumbnail>
                <height>80</height>
                <width>80</width>
            </thumbnail>
        </magpleasure>
    </default>
</config>