<?xml version="1.0"?>
<config>
    <modules>
        <Magpleasure_Assignorder>
            <version>1.1</version>
        </Magpleasure_Assignorder>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <assignorder before="Mage_Adminhtml">Magpleasure_Assignorder_Adminhtml</assignorder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <mp_assignorder_generate_blocks_after>
                        <type>singleton</type>
                        <class>assignorder/observer</class>
                        <method>generateBlockAfter</method>
                    </mp_assignorder_generate_blocks_after>
                </observers>
            </core_block_abstract_prepare_layout_after>

            <core_block_abstract_prepare_layout_after>
                <observers>
                    <mp_assignorder_mass_action_option>
                        <class>assignorder/observer</class>
                        <method>massActionOption</method>
                    </mp_assignorder_mass_action_option>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <assignorder>
                                            <title>Magpleasure - Assign Order to Customer</title>
                                        </assignorder>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <sales translate="title" module="sales">
                            <children>
                                <order translate="title">
                                    <children>
                                        <actions translate="title">
                                            <children>
                                                <assignorder translate="title">
                                                    <title>Assign to Customer</title>
                                                </assignorder>
                                            </children>
                                        </actions>
                                    </children>
                                </order>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <assignorder>
                    <file>assignorder.xml</file>
                </assignorder>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magpleasure_Assignorder>
                    <files>
                        <default>Magpleasure_Assignorder.csv</default>
                    </files>
                </Magpleasure_Assignorder>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <template>
            <email>
                <assignorder_notification_template translate="label" module="assignorder">
                    <label>Assign Order - Customer Notification</label>
                    <file>assignorder/notify_customer.html</file>
                    <type>html</type>
                </assignorder_notification_template>
            </email>
        </template>
        <models>
            <assignorder>
                <class>Magpleasure_Assignorder_Model</class>
                <resourceModel>assignorder_mysql4</resourceModel>
            </assignorder>
            <assignorder_mysql4>
                <class>Magpleasure_Assignorder_Model_Mysql4</class>
                <entities>
                    <history>
                        <table>mp_assignorder_history</table>
                    </history>
                    <detail>
                        <table>mp_assignorder_history_details</table>
                    </detail>
                </entities>
            </assignorder_mysql4>
        </models>
        <resources>
            <assignorder_setup>
                <setup>
                    <module>Magpleasure_Assignorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </assignorder_setup>
            <assignorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </assignorder_write>
            <assignorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </assignorder_read>
        </resources>
        <blocks>
            <assignorder>
                <class>Magpleasure_Assignorder_Block</class>
            </assignorder>
        </blocks>
        <helpers>
            <assignorder>
                <class>Magpleasure_Assignorder_Helper</class>
            </assignorder>
        </helpers>
    </global>
</config>
