<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <magpleasure translate="label" module="assignorder">
            <label>MagPleasure Extensions</label>
            <sort_order>300</sort_order>
        </magpleasure>
    </tabs>
    <sections>
        <assignorder translate="label" module="assignorder">
            <label>Assign Order to Customer</label>
            <tab>magpleasure</tab>
            <frontend_type>text</frontend_type>
            <sort_order>160</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <notification translate="label">
                    <label>Customer Notification</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <identity translate="label">
                            <label>Assign Order Notification Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </identity>
                        <template translate="label">
                            <label>Assign Order Notification Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                        <copy_to translate="label comment">
                            <label>Send Assign Order Notification Copy To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma-separated.</comment>
                        </copy_to>
                    </fields>
                </notification>
            </groups>
        </assignorder>
    </sections>
</config>